<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <br>
        <p>My name is Laura Berge and I am a student at Flatiron School. I really love backend development, but front end is pretty cool too. I'm super excited to be able to know them both well enough to get a job and then continue learning and updating my knowledge throught my life.</p>
    </body>
</html>